/* ------------------------START------------------------ */
/* ALL */
* {
    font-family: sans-serif;
}

/* //ALL\\ */

/* ------------------------LIMIT------------------------ */

/* MAIN */

/* HEADER */
.navbar {
    background-color: #EEEEEE;
    border-bottom-right-radius: 20px;
}

.navbar-brand {
    background-color: white;
    width: 90px;
    height: 70px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img_logo {
    width: 60px;
    margin-top: -11px;
    margin-left: 13px;
}

/* .form_search_head {
    margin-right: 200px;
} */

/* .input_search {
    border-radius: 10px;
} */

/* .btn_search {
    background-color: #30397E;
    color: white;
    border-radius: 10px;
} */

/* .btn_search:hover {
    background-color: #2A9DC9;
    color: white;
    border: 1px solid #30397E;
} */
.date_head {
    margin-left: 45px;
}

.img_calendar {
    width: 20px;
    margin-top: -5px;
}

/* .img_chat {
    width: 20px;
    margin-top: -3px;
}

.img_chat:hover {
    content: url(../ASSET/ICON/BACK/352267_chat_icon.svg);
} */

.btn_profile {
    margin-right: 5px;
}

.menu_profile {
    margin-left: -90px;
}

.label_dropdown_profile {
    font-weight: bold;
    text-align: center;
    color: #30397E;
}

.label_dropdown_profile:hover{
    background-color: white;
    color: #2A9DC9;
}

.item_profile:hover {
    background-color: #30397E;
    color: white;
}

/* //HEADER\\ */

/* ------------------------LIMIT------------------------ */

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 185px 15px 0;
    width: 90px;
    background-color: #EEEEEE;
    border-bottom-right-radius: 20px;
}

.img_home {
    width: 25px;
    text-align: center;
}

.img_home:hover {
    content: url(../ASSET/ICON/BACK/216242_home_icon.svg);
}

.img_customers {
    width: 25px;
}

.img_customers:hover {
    content: url(../ASSET/ICON/BACK/171447_users_group_icon.svg);
}

.img_package_setting {
    width: 25px;
}

.img_package_setting:hover {
    content: url(../ASSET/ICON/BACK/623070_box_label_storage_delivery_gift_icon.svg);
}

.img_report {
    width: 25px;
}

.img_report:hover {
    content: url(../ASSET/ICON/BACK/3533402_business_management_plan_project_report_icon.svg);
}

.img_logout {
    margin-top: 110px;
    width: 25px;
}

.img_logout:hover {
    content: url(../ASSET/ICON/BACK/1564506_close_exit_logout_power_icon.svg);
}

.txt_copyright {
    font-size: 7px;
    text-align: center;
    margin-top: -2px;
    font-weight: bold;
}

/* //SIDEBAR\\ */

/* ------------------------LIMIT------------------------ */

/* CONTENT */


/* //CONTENT\\ */

/* ------------------------LIMIT------------------------ */

/* POP UP */
h5 {
    color: #30397E;
    font-weight: bold;
}

.img_pop_up {
    width: 200px;
    margin-left: 135px;
}

.txt_announcement {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.txt_announcement_content {
    font-size: 23px;
    text-align: center;
}

.btn_choice {
    background-color: #30397E;
    color: white;
    font-weight: bold;
}

.btn_choice:hover {
    background-color: #2A9DC9;
    color: white;
    border: 1px solid;
    font-weight: bold;
}

/* ADDITION ABOUT US */

.img_emblem {
    width: 150px;
    margin-left: 152px;
    margin-top: -13px;
}

.txt_title {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: #30397E;
    margin-top: -40px;
}

.txt_description {
    font-size: 15px;
    text-align: center;
}

/* //ADDITION ABOUT US\\ */

/* //POP UP\\ */

/* //MAIN\\ */

/* -------------------------END------------------------- */