/* ------------------------START------------------------ */
/* ALL */
* {
    font-family: sans-serif;
}

/* //ALL\\ */

/* ------------------------LIMIT------------------------ */

/* MY PROFILE */
.receptacle_myprofile {
    margin-top: 40px;
}

.img_my_profile {
    height: 300px;
    width: 280px;
    border-radius: 10px;
    margin-top: 5px;
}

.btn_edit_and_change {
    background-color: rgb(206, 114, 2);
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

.btn_edit_and_change:hover {
    background-color: orange;
    color: white;
}

.img_btn_my_profile {
    width: 24px;
    margin-top: -5px;
    margin-right: 4px;
}

/* //MY PROFILE\\ */

/* ------------------------LIMIT------------------------ */

/* EDIT PROFILE */
.img_change_image_profile {
    height: 300px;
    width: 280px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 40px;
}

.label_btn_change_image {
    background-color: rgb(206, 114, 2);
    color: white;
    padding: 8px;
    width: 170px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 94px;
}

.label_btn_change_image:hover {
    background-color: orange;
    color: white;
}

.btn_change_image_profile {
    display: none;
}

.btn_save_edit_profile {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

.btn_save_edit_profile:hover {
    background-color: rgb(3, 180, 3);
    color: white;
}

.btn_cancel_edit_profile {
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.btn_cancel_edit_profile:hover {
    background-color: red;
    color: white;
}

.img_edit_profile {
    width: 20px;
    margin-top: -4px;
    margin-right: 4px;
}

/* //EDIT PROFILE\\ */

/* ------------------------LIMIT------------------------ */

/* CHANGE PASSWORD */
.img_change_password {
    width: 415px;
    margin-top: 50px;
    margin-left: 30px;
}

.form_change_password {
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 45px;
    margin-right: px;
}

.btn_save_change_password {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

.btn_save_change_password:hover {
    background-color: rgb(3, 180, 3);
    color: white;
}

.btn_cancel_change_password {
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.btn_cancel_change_password:hover {
    background-color: red;
    color: white;
}

.img_btn_change_password {
    width: 20px;
    margin-top: -4px;
    margin-right: 4px;
}

/* //CHANGE PASSWORD\\ */

/* ------------------------LIMIT------------------------ */

/* HOME */
.btn_package {
    margin-top: 87px;
    width: 250px;
    height: 200px;
    background-color: #30397E;
    border: none;
    border-radius: 5px;
}

.btn_package:hover {
    background-color: #2A9DC9;
}

.txt_head_package {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 2px;
}

.txt_name_package {
    color: white;
    text-align: left;
    font-weight: bold;
    margin-top: 40px;
}

.img_package {
    width: 80px;
    margin-top: -5px;
    margin-left: 164px;
}

.txt_powered_by {
    font-weight: bold;
    font-size: 8px;
    text-align: left;
    margin-left: 3px;
    margin-top: -11px;
    color: white;
}

/* //HOME\\ */

/* ------------------------LIMIT------------------------ */

/* CUSTOMERS */
.receptacle_customers {
    margin-top: 60px;
    margin-left: 150px;
}

.txt_title_customers {
    font-weight: bold;
    color: #30397E;
}

.txt_title_customers_different_colour {
    font-weight: bold;
    color: #2A9DC9;
}

.form_search_customers_id {
    width: 300px;
    height: 55px;
    border: 2px solid #30397E;
    text-align: center;
}

.txt_notif_customers_id {
    font-size: 12px;
}

.btn_search_customers_id {
    background-color: #30397E;
    color: white;
    width: 300px;
    height: 55px;
}

.btn_search_customers_id:hover {
    background-color: #2A9DC9;
    color: white;
    border: 1px solid #30397E;
}

.txt_btn_search_customers_id {
    font-weight: bold;
    font-size: 24px;
}

.img_customers_ilustration {
    width: 380px;
    margin-left: -50px;
    margin-top: -20px;
}

/* //CUSTOMERS\\ */

/* ------------------------LIMIT------------------------ */

/* DATA CUSTOMERS*/
.count_data_customers {
    width: 730px;
    height: auto;
    margin: auto;
}

.img_data_customers {
    width: 22px;
    height: 30px;
}

.label_data_customers {
    font-weight: bold;
    color: #30397E;
}

.btn_process_data_customers {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    width: 135px;
}

.btn_process_data_customers:hover {
    background-color: green;
    color: white;
}

.img_process_data_customers {
    width: 17px;
    margin-top: -3px;
    margin-right: 4px;

}

/* //DATA CUSTOMERS\\ */

/* ------------------------LIMIT------------------------ */

/* PACKAGE SETTING*/
.count_package_setting {
    width: 1150px;
    margin: auto;
}

.receptacle_package_setting {
    margin-top: 22px;
}

.btn_create_new_package {
    background-color: #30397E;
    color: white;
    border: 1px solid #30397E;

}

.btn_create_new_package:hover {
    background-color: #2A9DC9;
    color: white;
}

.img_create_new_package {
    width: 25px;
    margin-top: -4px;
    margin-left: -5px;
}

.form_search_package_setting {
    width: 305px;
    margin-left: 257px;
}

.input_search_package_setting {
    border: 1px solid #30397E;
}

.btn_search_package_setting {
    background-color: #30397E;
    color: white;
    border: 1px solid #30397E;
}

.btn_search_package_setting:hover {
    background-color: #2A9DC9;
    color: white;
}

.table_package_setting {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid gray;
}

thead {
    background-color: #30397E;
    color: white;
}

.txt_content_package_setting {
    margin-top: 7px;
    margin-bottom: -6px;
}

.txt_status_active {
    background-color: rgb(3, 180, 3);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 27px;
    padding-right: 27px;
    margin-top: 7px;
}

.txt_status_non_active {
    background-color: rgb(41, 40, 40);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
}

.btn_edit_package {
    background-color: rgb(206, 114, 2);
    color: white;
    width: 40px;
    height: 40px;
}

.btn_edit_package:hover {
    background-color: orange;
    color: white;
}

.img_edit_package {
    width: 30px;
    margin-left: -8px;
    margin-top: -1.5px;
}

.btn_delete_package {
    background-color: darkred;
    color: white;
    width: 40px;
    height: 40px;
}

.btn_delete_package:hover {
    background-color: red;
    color: white;
}

.img_delete_package {
    width: 30px;
    margin-left: -8px;
    margin-top: -2px;
}

.receptacle_btn_next_or_back {
    width: 270px;
}

.extra_next_or_back {
    border: 1px solid #30397E;
}

.btn_next_or_back {
    background-color: #30397E;
    color: white;
}

.btn_next_or_back:hover {
    background-color: #2A9DC9;
    color: white;
}

.arrow_next_and_back {
    width: 12px;
    margin-top: -2px;
}

/* //PACKAGE SETTING\\ */

/* ------------------------LIMIT------------------------ */

/* CREATE NEW & EDIT PACKAGE */
.cnpe_countainer {
    width: 600px;
    margin: auto;
}

.cnpe_label {
    font-weight: bold;
}

.cnpe_span {
    background-color: #30397E;
    color: white;
}

.cnpe_span_min {
    background-color: darkorange;
    color: white;
}

.cnpe_span_max {
    background-color: darkred;
    color: white;
}

.cnpe_span_day {
    background-color: #30397E;
    color: white;
}

.cnpe_btn_new {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    width: 300px;
}

.cnpe_btn_new:hover {
    background-color: green;
    color: white;
}

.cnpe_btn_delete {
    background-color: darkred;
    color: white;
    font-weight: bold;
    width: 300px;
}

.cnpe_btn_delete:hover {
    background-color: red;
    color: white;
}

.cnpe_img {
    width: 22px;
    margin-top: -4px;
    margin-right: 5px;
}

.cnpe_btn_turn_on {
    width: 130px;
    font-weight: bold;
    background-color: darkgreen;
    color: white;
}

.cnpe_btn_turn_on:hover {
    background-color: green;
    color: white;
}

.cnpe_btn_turn_off {
    width: 130px;
    font-weight: bold;
    display: none;
    background-color: darkred;
    color: white;
}

.cnpe_btn_turn_off:hover {
    background-color: red;
    color: white;
}

.cnpe_img_on_of {
    width: 25px;
    margin-top: -3px;
    margin-right: 2px;
}

.cnpe_btn_save {
    width: 100px;
    font-weight: bold;
    background-color: #30397E;
    color: white;
}

.cnpe_btn_save:hover {
    background-color: #2A9DC9;
    color: white;
}

.cnpe_btn_save_new {
    width: 130px;
    margin-left: 470px;
    font-weight: bold;
    background-color: #30397E;
    color: white;
}

.cnpe_btn_save_new:hover {
    background-color: #2A9DC9;
    color: white;
}

.cnpe_btn_save_edit {
    width: 130px;
    font-weight: bold;
    background-color: #30397E;
    color: white;
}

.cnpe_btn_save_edit:hover {
    background-color: #2A9DC9;
    color: white;
}


/* //CREATE NEW & EDIT PACKAGE\\ */

/* ------------------------LIMIT------------------------ */

/* REPORT */
.count_data_report {
    width: 1152px;
    margin: auto;
}

.receptacle_data_report {
    margin-right: 120px;
}

.label_data_report {
    width: 200px;
    height: 160px;
    background-color: #30397E;
    border: none;
    border-radius: 5px;
}

.label_data_report:hover {
    background-color: #2A9DC9;
}

.txt_head_data_report {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2px;
}

.txt_real_data_report {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

.txt_real_data_report_profit {
    color: white;
    font-weight: bold;
    font-size: 21px;
    margin-top: 35px;
    margin-left: 10px;
}

.img_data_report {
    width: 60px;
    margin-top: -15px;
    margin-left: 135px;
}

.img_data_report_profit {
    width: 60px;
    margin-top: -3px;
    margin-left: 135px;
}

.txt_powered_by_report {
    font-weight: bold;
    font-size: 8px;
    text-align: left;
    margin-left: 10px;
    margin-top: -11px;
    color: white;
}

.txt_powered_by_report_profit {
    font-weight: bold;
    font-size: 8px;
    text-align: left;
    margin-left: 10px;
    margin-top: -14px;
    color: white
}

.receptacle_data_table_report {
    padding: 5px;
    margin-top: 28px;
    border-radius: 5px;
}

.form_search_data_table_reoprt {
    width: 500px;
    margin-bottom: -13px;
}

.input_search_data_table_report {
    border: 1px solid #30397E;
    height: 30px;
    font-size: 12px;
    width: 200px;
}

.btn_search_data_table_report {
    background-color: #30397E;
    color: white;
    border: 1px solid #30397E;
    height: 30px;
    font-size: 12px;
}

.btn_search_data_table_report:hover {
    background-color: #2A9DC9;
    color: white;
}

.btn_export_to_excel {
    background-color: #30397E;
    color: white;
    border: 1px solid #30397E;
    height: 30px;
    width: 130px;
    font-size: 11px;
    margin-left: 427px;
}

.btn_export_to_excel:hover {
    background-color: #2A9DC9;
    color: white;
}

.img_export_to_excel {
    width: 15px;
    margin-top: -2px;
    margin-left: 4px;
}

.table_report {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid gray;
}

.txt_data_table_report {
    margin-top: 0px;
    margin-bottom: 0px;
}

.txt_data_status_taken {
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.txt_data_status_finished {
    background-color: darkorange;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.txt_data_status_on_process {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding-right: 8px;
    padding-left: 8px;
}

.receptacle_btn_next_or_back_report {
    width: 230px;
    height: 16px;
}

.extra_next_or_back_report {
    border: 1px solid #30397E;
    font-size: 12px;
    margin-top: -15px;
}

.btn_next_or_back_report {
    background-color: #30397E;
    color: white;
}

.btn_next_or_back_report:hover {
    background-color: #2A9DC9;
    color: white;
}

.arrow_next_and_back_report {
    width: 9px;
    margin-top: -2px;
}

/* //REPORT\\ */

/* ------------------------LIMIT------------------------ */

/* PACKAGE & SUB PACKAGE*/
.form_label_package {
    font-weight: bold;
    font-size: 11px;
}

.input_font_size {
    font-size: 12px;
}

.img_label_package {
    width: 25px;
    margin-top: -6px;
}

.label_package {
    font-size: 20px;
    font-weight: bold;
}

.txt_custumer_id_package {
    margin-top: 4px;
}

.btn_package_process {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    margin-top: -11px;
    margin-bottom: 12px;
    font-size: 15px;
    width: 110px;
}

.btn_package_process:hover {
    background-color: green;
    color: white;
}

.img_package_process {
    width: 17px;
    margin-top: -4px;
    margin-right: 4px;
}

/* //PACKAGE & SUB PACKAGE\\ */

/* ------------------------LIMIT------------------------ */

/* NOT FOUND */
.img_not_found {
    width: 200px;
    margin-top: 100px;
    margin-left: 458px;
    margin-bottom: 30px;
}

.txt_announcement_not_found {
    margin-left: 477px;
    font-weight: bold;
}

.txt_announcement_content_not_found {
    margin-left: 420px;
}

/* //NOT FOUND\\ */


/* -------------------------END------------------------- */